.grid {
    width: 200px;
    height: 400px;
    background-color: rgb(243, 162, 11);
    flex-wrap: wrap;
    display: flex;
}

.grid div {
    height: 20px;
    width: 20px;

}

.tetromino {
    background-color: blue;
}